<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <%-include ('layout/header.ejs');
    </header>
    <main>
        <div>
            <form action="/detials/quote_id?_method=DELETE" method="post">
            <input type="text"  value="<%= data.quote_id %>"  name="quote_id">
            <button type="submit">DELETE</button>
        </form>

            <form action="/detials/<%= data.quote_id %>?_method=PUT" method="post">
                <input type="text" value="<%= data.character%>"  name="character">
                <input type="text" value="<%= data.quote"  name="quote">
                <input type="text" value="<%= data.img %>"  name="img">
                <input type="text" value="<%= data.characterDirection %>"  name="characterDirection">
                <input type="hidden" value="<%= data.quote_id %>"  name="quote_id">
                <button type="submit">Update</button>
            
            
            
            </form>
        </div>
    </main>
    <footer></footer>
</body>
</html>