<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <%-include ('layout/header.ejs');
    </header>
    <main>
<% result.forEach(element =>{%>
    <div>
        <form action="/"  method="POST">
            <h1> <%= element.character %></h1>
            <input type="text" value="<%= element.character %>" name="character">
            <p><%= element.quote %></p>
            <input type="text" value="<%= element.quote %>" name="quote">
    <input type="text" value="<%= element.img %>" name="img">
    <img src="<%= element.img %>" alt="">
    <input type="hidden" name="characterDirection" id="">
    <button type="submit">Faver character</button>
</form>
   </div>
<%  })%>
        
    </main>
    <footer></footer>
</body>
</html>